# =============== #
# Unity generated #
# =============== #
Veu Spillet/[Tt]emp/
Veu Spillet/[Oo]bj/
Veu Spillet/[Bb]uilds/
Veu Spillet/[Ll]ibrary/
Veu Spillet/[Ll]ibrary_ANDROID/
Veu Spillet/[Ll]ibrary_PC/
Veu Spillet/[Ll]ibrary_IOS/
Veu Spillet/sysinfo.txt
Veu Spillet/UnityVS/
Veu Spillet/UnityVS.meta
Veu Spillet/LightingData*
Veu Spillet/ReflectionProbe*
Veu Spillet/Assets/Scenes/Personal Scenes*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Veu Spillet/[Ee]xported[Oo]bj/
Veu Spillet/*.userprefs
Veu Spillet/*.csproj
Veu Spillet/*.pidb
Veu Spillet/*.suo
Veu Spillet/*.sln*
Veu Spillet/*.user
Veu Spillet/*.unityproj
Veu Spillet/*.booproj

# ============
# OS generated
# ============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
